body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.ancient-greek-remedies {
  background-image: url(/images/10034.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 80vh;
}
.inner-ancient-greek-remedies {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 75px;
  padding-right: 20px;
  padding-bottom: 75px;
  padding-left: 20px;
}
.col-12 img {
  width: 100%;
  height: 325px;
}
.what-peop-say {
  background-image: url(/images/10035.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 80vh;
}
.inner-what-people-say {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 75px;
  padding-right: 20px;
  padding-bottom: 75px;
  padding-left: 20px;
}
.hero-section h1 {
  font-size: 70px;
  font-family: "Poppins";
}
.hero-section h3 {
  font-size: 34px;
  font-family: "Poppins";
}
p {
  font-size: 18px;
  font-family: "Poppins";
}
.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 50px;
}
.swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
  padding-bottom: 10px;
}
.swiper-slide p {
  margin: 0px;
}
@media screen and (max-width: 1440px) {
  p {
    font-size: 18px;
  }
}
@media screen and (max-width: 1220px) {
  p {
    font-size: 18px;
  }
  .hero-section h1 {
    font-size: 54px;
  }
  .hero-section h3 {
    font-size: 34px;
  }
}
@media screen and (max-width: 768px) {
  p {
    font-size: 20px;
  }
  .hero-section h1 {
    font-size: 44px;
  }
  .hero-section h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  p {
    font-size: 18px;
  }
  .hero-section h1 {
    font-size: 40px;
  }
  .hero-section h3 {
    font-size: 24px;
  }
}
