.ancient-greek-remedies {
  background-image: url(/images/10034.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  background-attachment: fixed;
}
.inner-ancient-greek-remedies {
  margin-top: 50px;
  margin-bottom: 50px;
}
.col-4 img {
  width: 100%;
  height: 325px;
}
.what-peop-say {
  background-image: url(/images/10035.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 80vh;
}
.inner-what-people-say {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 75px;
  padding-right: 20px;
  padding-bottom: 75px;
  padding-left: 20px;
}
